@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-7px);
  }
  50% {
    transform: translateX(7px);
  }
  75% {
    transform: translateX(-7px);
  }
  100% {
    transform: translateX(7px);
  }
}

body {
    font-family: 'Rock Salt', 'Share Tech', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.shake {
  animation: shake 0.5s infinite;
}